<div class="col s12 m6 l12 xl6">
	<div class="card hoverable">
		<div class="card-content" style="max-height: 178px; overflow: hidden;">
			<a id="card{id}" class="btn-floating btn-large dropdown-button waves-effect waves-light right" data-alignment="right" data-constrainwidth="false" data-activates="carddropdown{id}"><i class="mdi mdi-dots-vertical"></i></a>
			<ul id="carddropdown{id}" class="dropdown-content">
				<li>
					<a href="#!">
						<div class="row">
							<div class="col s2"><i class="mdi mdi-eye"></i></div>
							<div class="col s10">Mark as unread</div></div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#!">
						<div class="row">
							<div class="col s2"><i class="mdi mdi-check"></i></div>
							<div class="col s10">Finished with this notice</div>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#!">
						<div class="row">
							<div class="col s2"><i class="mdi mdi-close-circle-outline"></i></div>
							<div class="col s10">Stop showing this type of announcement</div>
						</div>
					</a>
				</li>
			</ul>
			<span class="card-title">
					{title}
			</span>
			<p style="height: 100px;">{description}</p>
		</div>
		<div class="card-action right-align">
			<a id="announcementBtn{id}" class="modal-trigger" href="#announcement{id}">View Announcement</a>
		</div>
	</div>
</div>
<div id="announcement{id}" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>{title}</h4>
		<p>{long-description}</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect btn">Close</a>
	</div>
</div>

<script>
	$( '#card{id}' ).dropdown();
	$( '#announcementBtn{id}' ).leanModal();
</script>