<div id="announcement-filter-side" class="side-nav">
	<div class="section" id="announcement-filter-main">
		<nav class="row">
			<div class="col s3">
				<a href="javascript:;" id="announce-header-button" class="">
					<i class="mdi mdi-arrow-left"></i>
				</a>
			</div>
			<div class="nav-wrapper col s6">
				<a class="page-title">Refine</a>
			</div>
			<div class="col s3">
				<a href="javascript:;" id="announce-ok-button" class="">
					<i class="mdi mdi-check"></i>
				</a>
			</div>
		</nav>
		<ul>
			<li>
				<a class="announce-type" data-level="filter">Filter</a>
			</li>
			<li>
				<a class="announce-type" data-level="sort">Sort</a>
			</li>
		</ul>
	</div>
	<div class="section hide" id="announcement-filter-filter">
		<nav class="row">
			<div class="col s3">
				<a href="javascript:;" id="announce-filter-header-button" class="">
					<i class="mdi mdi-arrow-left"></i>
				</a>
			</div>
			<div class="nav-wrapper col s6">
				<a class="page-title">Filter</a>
			</div>
			<div class="col s3">
				<a href="javascript:;" id="announce-filter-ok-button" class="">
					<i class="mdi mdi-check"></i>
				</a>
			</div>
		</nav>
		<ul>
			<li>
				<a class="announce-filter" data-filter="date">Date</a>
			</li>
			<li>
				<a class="announce-filter" data-filter="title">Title</a>
			</li>
			<li>
				<a class="announce-filter" data-filter="desc">Description</a>
			</li>
		</ul>
	</div>
	<div class="section hide" id="announcement-filter-sort">
		<nav class="row">
			<div class="col s3">
				<a href="javascript:;" id="announce-sort-header-button" class="">
					<i class="mdi mdi-arrow-left"></i>
				</a>
			</div>
			<div class="nav-wrapper col s6">
				<a class="page-title">Sort</a>
			</div>
			<div class="col s3">
				<a href="javascript:;" id="announce-sort-ok-button" class="">
					<i class="mdi mdi-check"></i>
				</a>
			</div>
		</nav>
		<ul>
			<li>
				<a class="announce-sort" data-sort="date">Date<i class="mdi mdi-sort-ascending asc"></i><i class="mdi mdi-sort-descending desc"></i></a>
			</li>
			<li>
				<a class="announce-sort" data-sort="title">Title<i class="mdi mdi-sort-ascending asc"></i><i class="mdi mdi-sort-descending desc"></i></a>
			</li>
			<li>
				<a class="announce-sort" data-sort="desc">Description<i class="mdi mdi-sort-ascending asc"></i><i class="mdi mdi-sort-descending desc"></i></a>
			</li>
		</ul>
	</div>
	<div class="section hide" id="announcement-filter-sub">

	</div>
</div>
<script>
	var selections = [];
	var currentSort = 'date';
	var directionSort = 'asc';
	var sort = ['date','asc'];
	$('#announce-header-button' ).on('click', function(){
		$('#announce-filter-button').sideNav('hide');
	});

	$('#announce-ok-button' ).on('click', function(){
		$('#announce-filter-button').sideNav('hide');
		console.log(selections);
		console.log(sort);
	});

	$( '#announce-filter-button' ).sideNav({
		edge: 'right'
	} );

	$( '#announce-filter-button' ).on('click',function(){
		$('.announce-sort' ).removeClass('asc desc');
		$('.announce-sort' ).each(function(){
			if($(this ).data('sort') == sort[0]){
				$(this ).addClass(sort[1]);
			}
		});
	});

	$('.announce-type' ).on('click', function(){
		loadType( $(this ).data('level') );
	});

	$('.announce-sort' ).on('click', function(){
		loadSort( $(this ).data('sort') );
	});

	$('.announce-filter' ).on('click', function(){
		loadFilter( $(this ).data('filter') );
	});

	$('#announce-sort-ok-button' ).on('click', function( e ){
		sort[0] = currentSort;
		sort[1] = directionSort;
		$( '#announcement-filter-sort' ).addClass('hide');
		$( '#announcement-filter-main' ).removeClass('hide');
	});

	$('#announce-sort-header-button').on('click', function( e ){
		$( '#announcement-filter-sort' ).addClass('hide');
		$( '#announcement-filter-main' ).removeClass('hide');
	});

	$('#announce-filter-header-button' ).on('click', function(){
		$( '#announcement-filter-filter' ).addClass('hide');
		$( '#announcement-filter-main' ).removeClass('hide');
	});

	$('#announce-filter-ok-button' ).on('click', function( e ){
		$( '#announcement-filter-filter' ).addClass('hide');
		$( '#announcement-filter-main' ).removeClass('hide');
	});

	function loadSort( which ) {
		directionSort = (directionSort == 'asc' ? 'desc' : 'asc');
		if( currentSort != which ){
			directionSort = 'asc'
		}
		currentSort = which;

		$('.announce-sort' ).removeClass('asc desc');
		$('.announce-sort' ).each(function(){
			if($(this ).data('sort') == which){
				$(this ).addClass(directionSort);
			}
		});
	}

	function loadType( which ) {
		$( '#announcement-filter-' + which ).removeClass('hide');
		$( '#announcement-filter-main' ).addClass('hide');
	}

	function loadFilter( which ) {
		templateEngine.load('/new_design/templates/filters/header.html', {'name': which}, $('#announcement-filter-sub'), true ).then(function() {
			templateEngine.load( '/new_design/templates/filters/' + which + '.html', {}, $( '#announce-filter-form' ) ).then( function () {

				$( '#announcement-filter-sub' ).removeClass('hide');
				$( '#announcement-filter-filter' ).addClass('hide');

				$('#announce-filter-sub-header-button' ).on('click', function(){
					$( '#announcement-filter-sub' ).addClass('hide');
					$( '#announcement-filter-filter' ).removeClass('hide');
				});

				$('#announce-filter-sub-ok-button' ).on('click', function( e ){
					$( '#announce-filter-form' ).submit( );
				});

				if( $( '#announce-filter-form' ).length > 0 ) {
					$( '#announce-filter-form' ).on( 'submit', function ( e ) {
						e.preventDefault();
					} ).validate( {
						ignore: ".display-hidden:not(:visible)",
						rules: {},
						onfocusout: function ( element ) {
							validateFocusOut( element );
						},
						success: function ( element ) {
							validateSuccess( element );
						},
						showErrors: function ( errorMap, errorList ) {
							validateShowErrors( errorMap, errorList, this );
						},
						errorPlacement: function ( error, element ) {
							validateError( error, element );
						},
						submitHandler: function ( form ) {
							$( '#announcement-filter-sub' ).addClass('hide');
							$( '#announcement-filter-filter' ).removeClass('hide');
							formSubmitHandle( form ).then( function ( data ) {
								$.each(data, function(key, value) {
									selections[key] = value;
								})
							});
						}
					} );
					initFields();
				}

				formFormat(selections, 'announce-filter-form');
			} );
		});
	}
</script>