<div class="col s12 m6 l12 xl6">
	<div class="card hoverable">
		<div class="card-header card-move-up card-announce {colour}">
			<span class="card-sub-title">{title}</span>
		</div>
		<div class="card-content">
			<a id="card{id}" class="btn-move-up btn-large btn-floating dropdown-button waves-effect waves-light right" data-alignment="right" data-constrainwidth="false" data-activates="carddropdown{id}"><i class="mdi mdi-dots-vertical"></i></a>
			<ul id="carddropdown{id}" class="dropdown-content">
				<li>
					<a href="#!">
						<div class="row">
							<div class="col s2"><i class="mdi mdi-eye"></i></div>
							<div class="col s10">Mark as unread</div>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#!">
						<div class="row">
							<div class="col s2"><i class="mdi mdi-check"></i></div>
							<div class="col s10">Finished with this notice</div>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#!">
						<div class="row">
							<div class="col s2"><i class="mdi mdi-close-circle-outline"></i></div>
							<div class="col s10">Stop showing this type of announcement</div>
						</div>
					</a>
				</li>
			</ul>
			<span class="card-title">
				{description}
			</span>
		</div>
		<div class="card-action right-align">
			<a href="{link}" target="_blank">Download {other}</a>
		</div>
	</div>
</div>

<script>
	$( '#card{id}' ).dropdown();
</script>