<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/validation.rules.min.js"></script>
<script type="text/javascript" src="js/jQuery.complexify.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<ul id="account-details-side" class="side-nav full">
	<nav class="top-nav">
		<a href="javascript:;" id="details-header-button" class="button-collapse top-nav" style="display: block;">
			<i class="mdi mdi-arrow-left"></i>
		</a>
		<div class="nav-wrapper">
			<a class="page-title">Account Details</a>
		</div>
	</nav>
	<div class="container">
		<div class="card hoverable">
			<div class="card-header primary white-text">
				<span class="card-title">My Details</span>
			</div>
			<form id="account-details-form">
				<input id="account-details-form-id-input" name="account-details-form-id-input" value="1" type="hidden" />
				<div class="card-content">
					<div class="row">
						<div class="input-field col s12">
							<input id="account-details-form-username-input" name="account-details-form-username-input" type="text" required>
							<label for="account-details-form-username-input" data-error="Please enter a valid username" data-helper="Please choose a user username">Username</label>
						</div>
						<div class="input-field col s12 l6">
							<input id="account-details-form-password-input" name="account-details-form-password-input" type="password">
							<label for="account-details-form-password-input" data-helper="Must contain a lowercase character, uppercase character and number.">Password</label>
						</div>
						<div class="input-field col s12 l6">
							<input id="account-details-form-confirm-password-input" name="account-details-form-confirm-password-input" type="password" required>
							<label for="account-details-form-confirm-password-input" data-helper="Confirm your password">Confirm Password</label>
						</div>
						<div class="input-field col s12 l6">
							<input id="account-details-form-home-phone-input" name="account-details-form-home-phone-input" type="tel" class="phone-group">
							<label for="account-details-form-home-phone-input" data-helper="Your land line number">Home Phone Number</label>
						</div>
						<div class="input-field col s12 l6">
							<input id="account-details-form-mobile-phone-input" name="account-details-form-mobile-phone-input" type="tel" class="phone-group">
							<label for="account-details-form-mobile-phone-input" data-helper="Your mobile number">Mobile Phone Number</label>
						</div>
						<div class="input-field col s12">
							<input id="account-details-form-email-input" name="account-details-form-email-input" type="email" required>
							<label for="account-details-form-email-input" data-helper="Your email address">Email Address</label>
						</div>
						<div class="input-field col s12">
							<div class="g-recaptcha" data-sitekey="6Lfa1BQTAAAAAICaoQ4HFomPGRmM7QjSe2dgaEEv"></div>
						</div>
					</div>
				</div>
				<div class="card-action secondary">
					<input type="submit" id="update-details-btn" class="btn primary waves-effect waves-light white-text" value="Update" />
				</div>
			</form>
		</div>
	</div>
</ul>
<script>
	$( '#account-details-form' ).on( 'submit', function ( e ) {
		e.preventDefault();
	} ).validate( {
		ignore: ".display-hidden:not(:visible)",
		rules: {
			"account-details-form-username-input": {
				remote: {
					url: "/new_design/controllers/user.php",
					type: "post",
					data: {
						id: function () {
							return $( "#account-details-form-id-input" ).val();
						},
						a: 'check'
					}
				}
			},
			"account-details-form-home-phone-input": {'require_from_group': [1, '.phone-group']},
			"account-details-form-mobile-phone-input": {'require_from_group': [1, '.phone-group']},
			"account-details-form-password-input": {'passwordSimple': true},
			"account-details-form-confirm-password-input": {'equalTo': "#account-details-form-password-input"},
			"account-details-form-email-input": {'email': true}
		},
		onfocusout: function ( element ) {
			validateFocusOut( element );
		},
		success: function ( element ) {
			validateSuccess( element );
		},
		showErrors: function ( errorMap, errorList ) {
			validateShowErrors( errorMap, errorList, this );
		},
		errorPlacement: function ( error, element ) {
			validateError( error, element );
		},
		submitHandler: function ( form ) {
			formSubmitHandle( form ).then( function ( data ) {
				$.ajax( {
					method: "POST",
					url: "/new_design/controllers/test.php",
					data: data
				} ).done( function ( data, textStatus, jqXHR ) {

				} );
			} );
		}
	} );

	$('#details-header-button' ).on('click', function(){
		$('#account-details-button').sideNav('hide');
		$('#account-details-side').animate({'right': '-105%'}, 500);
		if( $('#sidenav-overlay' ).length > 0 ){
			$( '#header-menu-button' ).sideNav('hide');
			$('#sidenav-overlay' ).remove();
			if( $('#sidenav-overlay' ).length > 0 ){
				$('#sidenav-overlay' ).remove();
			}
		}
	});

	$( '#account-details-button' ).sideNav({
		edge: 'right',
		menuWidth: '100%'
	} );
	initFields();
</script>