<div class="row">
	<div class="col s12 m6">
		<div class="row">
			<div class="col s6 m2 l1 center-align">
				<span class="footer-stack">
					<i class="mdi mdi-twitter"></i>
				</span>
			</div>
			<div class="col s6 m2 l1 center-align">
				<span class="footer-stack">
					<i class="mdi mdi-message-processing"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="col s12 m6 copyright white-text">&copy; 2016 Copyright. All rights reserved.</div>
</div>