<nav class="top-nav">
	<div class="nav-wrapper">
		<a class="brand-logo">
			<img src="images/logo-small.png" />
		</a>
		<ul class="right">
			<!-- Dropdown Trigger -->
			<li><a id="log-off-btn" href="javascript:;"><i class="mdi mdi-power"></i></a></li>
		</ul>
	</div>
</nav>
<script>
	$( '#my-account-btn' ).dropdown({
		alignment: 'right'
	});
</script>