<nav class="top-nav">
	<a href="#" id="header-menu-button" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
		<i class="mdi mdi-menu"></i>
	</a>
	<div class="nav-wrapper">
		<a class="page-title">{title}</a>
		<ul class="right">
			<!-- Dropdown Trigger -->
			<li><a id="log-off-btn" href="javascript:;"><i class="mdi mdi-power"></i></a></li>
		</ul>
	</div>
</nav>
<script>
	$( '#my-account-btn' ).dropdown();
	$( '#header-menu-button' ).sideNav();
</script>