<h2>Property Information <div class="right"><i id="closeProperty" class="mdi mdi-close"></i></div></h2>
<div class="card hoverable" id="propertyInformationCard">
	<div class="card-header secondary white-text">
		<div class="card-title">
			{property}
			<a id="fullscreen" class="btn primary btn-small right" href="javascript:;"><i class="mdi mdi-fullscreen"></i></a>
		</div>
	</div>
	<div class="card-image">
		<div class="crop-height">
			<img class="scale" src="{image}">
		</div>
	</div>
	<div class="card-content">
		<div class="row">
			<div class="col s12 m6 l12 xl6">
				<div class="image-container" id="propertyGallery">
				</div>
			</div>
			<div class="col s12 m6 l12 xl6">
				<p>{description}</p>
				<div class="pm-block">
					<p>Your Property Manager is <strong>{propertyManager}</strong></p>
					<p class="call hide-on-small-and-down"><i class="mdi mdi-phone"></i> {phone}</p>
					<a class="btn btn-wide hide-on-med-and-up" href="tel:{phone}"><i class="mdi mdi-phone"></i> {phone}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#fullscreen' ).on('click', function(){
		var fullImage = $(this ).parent().parent().parent().find( '.card-image img' ).clone();
		fullImage
			.removeClass('scale')
			.addClass('fullscreen')
			.attr('id', 'fullscreenImage')
			.on('click', function(){
				$('#image-overlay' ).remove();
				$(this ).remove();
			})
			.appendTo($('body'));
		$( document.createElement( 'div' ) )
			.attr('id', 'image-overlay')
			.css('opacity', 1)
			.on('click', function(){
				$(document ).find('img.fullscreen' ).remove();
				$(this ).remove();
			})
			.appendTo($('body'));
	});
	$('#closeProperty' ).on('click', function(){
		$('#propertyInformation' ).hide();
	});
</script>