<div class="col s12 m6 l12 xl6">
	<div class="card hoverable">
		<div class="card-header secondary white-text">
			<div class="card-title">
				{property}
			</div>
		</div>
		<div class="card-image card-move-up">
			<a href="community.html?id={id}">
				<div class="crop-height">
					<img class="scale" src="{image}">
				</div>
			</a>
		</div>
		<div class="card-content">
			<ul id="carddropdown{id}" class="dropdown-content">
				<li>
					<a href="community.html?id={id}">
						<div class="row">
							<div class="col s2">
								<i class="mdi mdi-eye"></i>
							</div>
							<div class="col s10">View property</div>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="javascript:removeProperty({id});">
						<div class="row">
							<div class="col s2">
								<i class="mdi mdi-close-circle-outline"></i>
							</div>
							<div class="col s10">Remove from my portfolio</div>
						</div>
					</a>
				</li>
			</ul>
			<div style="margin:0;">
				<a id="card{id}" class="btn-large dropdown-button waves-effect waves-light right btn-floating btn-move-up primary" data-alignment="right" data-constrainwidth="false" data-activates="carddropdown{id}"><i class="mdi mdi-dots-vertical"></i></a>
				<p>
					{address1}
				</p>
				<p>
					{address2}
				</p>
				<p>
					{address3}
				</p>
			</div>
		</div>
	</div>
</div>

<script>
	$( '#card{id}' ).dropdown();
</script>