<div id="slide-out" class="side-nav fixed">
	<div class="logo">
		<a href="https://www.rmgliving.co.uk/">
			<img src="images/logo-small.png" width="100%" />
		</a>
	</div>
	<div class="user-details secondary white-text">
		<div class="row">
			<div class="col s4 m4 l4">
				<i class="mdi mdi-account-circle img"></i>
			</div>
			<div class="col s8 m8 l8 valign-wrapper">
				<p class="user-title">User Name</p>
			</div>
			<div class="col s12">
				<p class="unit">Unit 7/A Pinkers Court, Briarlands Office Prk</p>
				<a class="btn-flat waves-effect waves-light white-text no-padding" id="profile-btn">
					<i id="profile-btn-icon" class="mdi mdi-chevron-down right"></i><span class="left" id="profile-btn-text">t08844697889737494</span>
				</a>
			</div>
		</div>
	</div>
	<ul id="slide-out-main">
		<li class="bold"><a href="community.html">Community</a></li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold">
					<a class="collapsible-header waves-effect waves-light">Information</a>
					<div class="collapsible-body">
						<ul>
							<li><a href="#!">General</a></li>
							<li><a href="/new_design/statement.html">Statement</a></li>
							<li><a href="/new_design/announceArchive.html">Announcement Archive</a></li>
							<li><a href="#!">Reports</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="bold"><a href="#!">Make a Payment</a></li>
		<li class="bold"><a href="#!">Advice</a></li>
	</ul>
	<ul id="slide-out-profile">
		<li class="bold"><a data-activates="account-details-side" id="account-details-button">Account Details</a></li>
		<li class="bold"><a href="properties.html">My Properties</a></li>
	</ul>
</div>
<script>
	$('.collapsible' ).collapsible();
	$('#slide-out' ).find('a' ).each(function(){
		if( $(this ).attr('href' ) !== undefined ) {
			var filename = window.location.pathname.substring(window.location.pathname.lastIndexOf('/')+1);
			if ( $( this ).attr( 'href' ).indexOf( filename ) > -1 ) {
				$( this ).parent().addClass( 'active' );
			}
		}
	});
	$('#profile-btn' ).on('click', function(){
		if( $('#slide-out-profile' ).hasClass('hide') ) {
			$('#slide-out-profile' ).removeClass('hide');
			$('#slide-out-main' ).addClass('hide');
			$('#profile-btn-icon' ).removeClass('mdi-chevron-down');
			$('#profile-btn-icon' ).addClass('mdi-chevron-up');
		}
		else{
			$('#slide-out-profile' ).addClass('hide');
			$('#slide-out-main' ).removeClass('hide');
			$('#profile-btn-icon' ).addClass('mdi-chevron-down');
			$('#profile-btn-icon' ).removeClass('mdi-chevron-up');
		}
	});
	$('#slide-out-profile' ).addClass('hide');
	$('#slide-out-main' ).removeClass('hide');
	$('#profile-btn-icon' ).addClass('mdi-chevron-down');
	$('#profile-btn-icon' ).removeClass('mdi-chevron-up');
</script>