<div class="row">
	<div class="input-field col s12">
		<input id="announce-filter-form-from-date-input" name="announce-filter-form-from-date-input" type="date" class="datepicker" required value="01/03/2015">
		<label for="announce-filter-form-from-date-input" data-error="Please enter a from date" data-helper="Please enter a from date">From Date</label>
	</div>
	<div class="input-field col s12">
		<input id="announce-filter-form-to-date-input" name="announce-filter-form-to-date-input" type="date" class="datepicker">
		<label for="announce-filter-form-to-date-input" data-error="Please enter a to date" data-helper="Please enter a to date">To Date</label>
	</div>
</div>