<div class="row">
	<div class="input-field col s12">
		<input id="announce-filter-form-desc-input" name="announce-filter-form-desc-input" type="text" required>
		<label for="announce-filter-form-desc-input" data-error="Please enter a partial description" data-helper="Please enter a partial description">Description</label>
	</div>
</div>