<form id="announce-filter-form">
	<nav class="row">
		<div class="col s3">
			<a href="javascript:;" id="announce-filter-sub-header-button" class="">
				<i class="mdi mdi-arrow-left"></i>
			</a>
		</div>
		<div class="nav-wrapper col s6">
			<a class="page-title">{name}</a>
		</div>
		<div class="col s3">
			<a href="javascript:;" id="announce-filter-sub-ok-button" class="">
				<i class="mdi mdi-check"></i>
			</a>
		</div>
	</nav>
</form>