<div class="row">
	<div class="input-field col s12">
		<input id="announce-filter-form-title-input" name="announce-filter-form-title-input" type="text" required>
		<label for="announce-filter-form-title-input" data-error="Please enter a partial title" data-helper="Please enter a partial title">Title</label>
	</div>
</div>