@import "../helpers/functions";
@import "../helpers/variables";
@import "../helpers/mixins";

html, body {
	@include gradient($info-gradient-start, $info-gradient-end, 90deg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: $font-family-main;
	font-size: 100%;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 62px;
	margin-bottom: 60px;
}

svg {
	display: table;
}

a, a:visited, a:active {
	color: $grey-white;
}

a.basic:hover {
	text-decoration: none;
}

.navbar-rmg {
	background-color: rgba($grey-white, 1);
	@include box-shadow(0, 1px, 2px, 0, rgba($grey-base, 0.4));
	padding: 0;
	height: auto;
}

.navbar-rmg .navbar-brand {
	padding: $padding-small-vertical $padding-small-horizontal;
	height: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: $grey-lightest;
}

form {
	padding: 15px 0;
	color: $grey-white;
}

form input,
.form-control {
	border-color: $brand-deep;
	font-size: 1rem;
	height: auto;
}

form input:focus,
.form-control:focus {
	border-color: $brand-deep;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($brand-deep, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($brand-deep, .6);
}

form table {
	color: $brand-deep;
}

form table thead tr th {
	font-weight: normal;
}

.input-group {
	width: 100%;
}

.input-group .form-control.rounded {
	border-radius: $border-radius-base;
}

.input-group .form-control.right-rounded,
.input-group .form-control:not(:first-child):not(:last-child).right-rounded {
	border-radius: 0 $border-radius-base $border-radius-base 0;
}

.input-group span.input-group-addon {
	display: none;
}

.btn-rmg,
.input-group-addon:not(:first-child):not(:last-child).btn-addon {
	@include button-variant( $brand-deep, $brand-deep, $brand-deep, $grey-white );
	font-size: 1rem;
}

.btn-warning {
	@include button-variant( $brand-warning, $brand-warning, $brand-warning, $grey-white );
	color: #000000;
	text-shadow: 0 1px 1px rgba($grey-white, 0.7);
}

a.btn.input-group-addon {
	border-left: none;
}

.has-no-valid {
	@include form-control-validation($grey-white, $brand-deep, $brand-info);
}

.form-control .control-label {
	color: $brand-deep;
}

div:not(.input-group) > span.input-group-addon {
	display: none;
}

.input-group-addon:not(:first-child):not(:last-child).btn-addon {
	border-radius: 0 $border-radius-base $border-radius-base 0;
}

.popover {
	white-space: nowrap;
}

.popover-content {
	padding: $padding-smaller-vertical $padding-smaller-horizontal;
	font-size: $font-main-size-small;
}

.popover.rmg {
	@include gradient($brand-info, $brand-deep, 180deg);
	border: 1px solid $brand-deep;
	max-width: 100%;
	padding: 20px;
}

.popover.rmg .popover-title {
	border: none;
	background: none;
	font-family: $font-family-heading;
	color: $grey-white;
	text-align: center;
	font-size: 2em;
	padding: 0 0 20px 0;
}

.popover.rmg .popover-content {
	white-space: normal;
	color: $grey-white;
	text-align: center;
	font-size: 1em;
}

.popover.rmg .arrow:after {
	border-top-color: $brand-deep;
}

.dk-blue-row {
	background-color: $brand-deep;
	color: #ffffff;
	@include text-shadow($brand-deep, 0, 1px, 1px);
}

.panel-primary {
	border-color: $brand-deep;
}

.panel-primary > .panel-heading {
	color: #fff;
	background-color: $brand-deep;
	border-color: $brand-deep;
}

.panel-primary {
	background-color: $grey-lightest;
}

.panel-primary .panel-heading .panel-title-mini {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	color: $grey-white;
	@include text-shadow($brand-deep, 0, 1px, 0);
	text-align: left;
}

.dk-blue-row h2 {
	font-family: GothamRounded-Bold;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 15px;
}

.dk-blue-row h1 {
	font-family: GothamRounded-Bold;
	text-align: center;
	font-size: 3rem;
	margin-top: 10px;
}

.svg-container-other {
	background-image: url('/paperless/img/header_sm.svg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	position: relative;
}

.svg-container-other h1,
form h1,
form h3 {
	font-family: GothamRounded-Bold;
	text-align: center;
	margin-top: 10px;
	color: #ffffff;
	@include text-shadow($brand-deep, 0, 1px, 1px);
	margin-top: 0;
}

.svg-container-other h1 {
	color: $brand-deep;
	@include text-shadow($grey-lightest, 0, 1px, 1px);
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: 2rem;
	transform: translateY(-50%);
}

form h3 {
	margin-bottom: 25px;
}

.copyright {
	font-size: 12px;
	color: $brand-info;
	padding-top: 15px;
}

.copyright p {
	margin: 0;
}

.contact {
	text-align: center;
	padding-top: 15px;
}

.contact a {
	color: $brand-info;
	font-size: 20px;
	text-decoration: none;
}

.contact a:hover {
	text-decoration: none;
	color: $brand-deep;
}

.contact h2 {
	color: $brand-info;
	font-family: GothamRounded-Bold;
	margin: 0;
	font-size: 35px;
	@include text-shadow($brand-info, 0, 1px, 1px);
}

.icons {
	text-align: right;
	padding: 15px 0;
}

a.circle {
	border-radius: 50%;
	background-color: $grey-lighter;
	text-align: center;
	padding: 5px;
	margin: 0 5px;
	display: inline-block;
	width: 4rem;
	height: 4rem;
	color: $brand-info;
}

a:hover.circle {
	text-decoration: none;
	color: $brand-deep;
}

a.circle i {
	font-size: 3rem;
	line-height: 3.5rem;
}

.modal-title {
	color: $brand-deep;
}

.modal-rmg .modal-content {
	background: none;
}

.modal-rmg .modal-content form {
	padding: 0;
}

.modal-rmg .modal-header {
	background-color: $brand-deep;
	border-radius: $border-radius-large  $border-radius-large 0 0;
	border-bottom-color: $brand-primary;
}

.modal-rmg .modal-header .close {
	color: $grey-white;
}

.modal-rmg .modal-title {
	color: $grey-white;
	@include text-shadow($brand-deep, 0, 1px, 1px);
}

.modal-rmg .modal-body {
	@include gradient($info-gradient-start, $info-gradient-end, 90deg);
}

.modal-rmg .modal-footer {
	background-color: $grey-white;
	border-radius: 0 0 $border-radius-large  $border-radius-large;
}

@media only screen and (min-width : 2000px) {
	html {
		font-size: 25px;
	}

	.svg-container-other {
		height: 260px;
	}

	.container {
		width: 1680px;
	}

	.dk-blue-row h2 {
		font-size: 1.65rem;
	}

	.dk-blue-row h1 {
		font-size: 4.2rem;
	}
}
/* 1680 to 2000px resolution 0.84 */
@media only screen and (min-width : 1680px) and (max-width : 1999px) {
	html {
		font-size: 21px;
	}

	.svg-container-other {
		height: 240px;
	}

	.container {
		width: 1520px;
	}

	.dk-blue-row h2 {
		font-size: 1.8rem;
	}

	.dk-blue-row h1 {
		font-size: 4.5rem;
	}

}

/* 1400 to 1680px resolution 0.7 */
@media only screen and (min-width : 1400px) and (max-width : 1679px) {
	html {
		font-size: 20px;
	}

	.svg-container-other {
		height: 220px;
	}

	.container {
		width: 1380px;
	}

	.dk-blue-row h2 {
		font-size: 1.65rem;
	}

	.dk-blue-row h1 {
		font-size: 4.2rem;
	}

}

/* 1280 to 1400px resolution 0.64 */
@media only screen and (min-width : 1200px) and (max-width : 1399px) {
	html {
		font-size: 19px;
	}

	.svg-container-other {
		height: 200px;
	}

	.dk-blue-row h2 {
		font-size: 1.5rem;
	}

	.dk-blue-row h1 {
		font-size: 3.8rem;
	}

}

/* 1024 to 1280px resolution 0.512 */
/* iPad horizontal specific styles */
@media only screen and (width : 1024px) and (orientation : landscape),
only screen and (min-width : 992px) and (max-width : 1199px) {
	html {
		font-size: 17px;
	}

	.svg-container-other {
		height: 180px;
	}

	.dk-blue-row h2 {
		font-size: 1.35rem;
	}

	.dk-blue-row h1 {
		font-size: 3.4rem;
	}
}

/* 768 to 1024px resolution 0.4 */
/* Droid horizontal specific styles */
@media only screen and (width : 854px) and (orientation : landscape),
only screen and (min-width : 769px) and (max-width : 991px) {
	html {
		font-size: 17px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 160px;
	}

	.dk-blue-row h2 {
		font-size: 2.3rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1.8rem;
	}

	.dk-blue-row h1 {
		font-size: 5.2rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}

}

/* iPad vertical specific styles */
@media only screen and (width : 768px) and (orientation : portrait) {
	html {
		font-size: 16px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 140px;
	}

	.dk-blue-row h2 {
		font-size: 2.3rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1.8rem;
	}

	.dk-blue-row h1 {
		font-size: 5.2rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}
}

/* less than 768px resolution */
@media only screen and (max-width : 767px) {
	html {
		font-size: 16px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 120px;
	}

	.dk-blue-row h2 {
		font-size: 1.9rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1.5rem;
	}

	.dk-blue-row h1 {
		font-size: 4.4rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}
}

/* less than 768px resolution */
@media only screen and (max-width : 585px) {
	html {
		font-size: 16px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 120px;
	}

	.dk-blue-row h2 {
		font-size: 1.7rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1.3rem;
	}

	.dk-blue-row h1 {
		font-size: 3.8rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}
}

@media only screen and (max-width : 500px) ,
only screen and (width : 480px) and (orientation : landscape) {
	html {
		font-size: 14px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 70px;
	}

	.dk-blue-row h2 {
		font-size: 1.7rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1.3rem;
	}

	.dk-blue-row h1 {
		font-size: 3.8rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}
}

/* iPhone 4 specific styles (retina display) */
@media only screen and (max-width : 479px) and (orientation : portrait) {
	html {
		font-size: 14px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 60px;
	}

	.dk-blue-row h2 {
		font-size: 1.3rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1rem;
	}

	.dk-blue-row h1 {
		font-size: 2.8rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	form h1 {
		font-size: 2.2rem;
	}

	form h3 {
		font-size: 1.2rem;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}
}

@media only screen and (max-width : 340px) and (orientation : portrait) {
	html {
		font-size: 13px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 60px;
	}

	.dk-blue-row h2 {
		font-size: 1.2rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1rem;
	}

	.dk-blue-row h1 {
		font-size: 2.8rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	form h1 {
		font-size: 2.2rem;
	}

	form h3 {
		font-size: 1.2rem;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}
}

/* iPhone vertical, Blackberry Curve specific styles 0.4 */
@media only screen and (width : 320px) and (orientation : portrait) {
	html {
		font-size: 13px;
	}

	.container-fluid.svg-container {
		overflow: hidden;
	}

	.svg-container .row {
		margin-left: -100px;
		margin-right: -100px;
		overflow: hidden;
	}

	.svg-container-other {
		height: 60px;
	}

	.dk-blue-row h2 {
		font-size: 1.3rem;
	}

	.dk-blue-row h2 span {
		display: block;
		font-size: 1rem;
	}

	.dk-blue-row h1 {
		font-size: 2.8rem;
	}

	.dk-blue-row h1 span {
		display: block;
	}

	form h1 {
		font-size: 2rem;
	}

	form h3 {
		font-size: 1rem;
	}

	.contact,
	.icons,
	.copyright {
		text-align: center;
		padding: 10px 0;
	}
}