/* CSS Document */

.header_results {
	background-color:#f1f1f1;
	border-left:1px solid #999;
}

.header_results td {
	border:1px solid #999;
	border-left:none;
	border-bottom: none;
	padding: 2px 5px;
	font-weight:bold;
}

.table_results {
	background-color:#ffffff;
	border-left:1px solid #999;
	border-top:1px solid #999;
}

.table_results td {
	border:1px solid #999;
	border-left:none;
	border-top:none;
	padding: 2px 5px;
}


.form_row {
	float:left;
	position:relative;
	width:480px;
	margin:0;
	padding:0;
	border:1px solid #999;
	border-bottom:none;
}

.search_box .form_row {
	border:none;
}

a.form_row {
	cursor:pointer;	
}

.header_row, .sub_header_row {
	float:left;
	position:relative;
	width:480px;
	margin:0;
	padding:0;
	background-color:#f1f1f1;
	border:1px solid #999;
	border-bottom:none;
	font-weight:bold;
}

.sub_header_row {
	background-color:#bedaf1;
}

.form_label {
	float:left;
	position:relative;
	width:64px;
	margin:0;
	padding:2px 5px;
	line-height:20px;
	color:#416CA0;
	text-decoration:none;
}

.header_row .border {
	border-right:1px solid #999;
}

.form_row .border {
	 border-right:1px solid #999;
}

.form_item {
	float:left;
	position:relative;
	width:150px;
	margin:0;
	padding:2px 5px;
	color:#416CA0;
}

a.form_row {
	color:#416CA0;
	text-decoration:none;	
}

.paging {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	width:100%;	
}

ul.paging li {
	list-style: none;
	float: left;
	width:100%;	
	margin:0;
	padding:0;
}

.pagination {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	width:100%;
}

ul.pagination li {
	list-style: none;
	float: left;
	margin-right: 5px;
	padding:5px;
	border:solid 1px #dddddd;
	color:#0063DC;
}

ul.pagination .active {
	color:#FF0084;
}

ul.pagination li:hover {
	color:#FF0084;
	cursor: pointer;
}

.results {
	float:left;
	position:relative;
	width:725px;
	padding:0;
	margin:7px 0 0 0;
	border-bottom:1px solid #999;
	border-top: none;
}