@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	color:#416CA0;
	font-size:11px;
	line-height:14px;
}

p {
	font-family:Verdana, Geneva, sans-serif;
	color:#416CA0;
	font-size:11px;
	line-height:14px;
	text-align:left;
}
p.bold {
	font-weight:bold;
}

h3 { margin:0; padding:0; font-weight:normal; font-size:24px; }
h4 { margin:0 0 10px 0; padding:0; font-weight:normal; font-size:18px; color:#036; line-height:21px;font-family: Arial,Verdana,Helvetica,sans-serif; }
h5 { margin:0 0 6px 0; padding:0; font-weight:normal; font-size:13px; color:#036; line-height:16px;font-family: Arial,Verdana,Helvetica,sans-serif; }
h6 { color:#003366; margin-top:15px; margin-bottom:4px; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:13pt; font-size:13px; font-weight:bold; }

/* Clearfix */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	_height : 1%;
}
.clearfix {display:inline-block;}
.clearfix {display:block;}

#wrapper {
	margin:0;
	padding:0;
	text-align:center;
}

#header {
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
	vertical-align:top;
	border-top:1px solid #fff;
	background-image:url(../images/templates/header_image_merged_bgrd.jpg);
	background-position:top;
	background-repeat:repeat-x;
}

#header div.inner {
	width:760px;
	margin:0 auto;
	padding:0;
}
.developer_header_logo {
	position:absolute;
	left:50%;
	margin-left:244px;
	top:20px;
	z-index:2000px;
}

#content {
	margin:0 auto;
	padding:0;	
	clear:both;
	width: 760px;
}

.content_box_1 {
	clear:both;
	text-align:left;
	width:728px;
	margin-bottom:20px;
	padding:15px;
	border-left:1px solid #7ea0bd;
	border-right:1px solid #7ea0bd;
	border-top:1px solid #7ea0bd;
	border-bottom:2px solid #036;	
}

table td { text-align:left; }

input { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:13px; font-size:11px; }
textarea { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:13px; font-size:11px; }
select { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:13px; font-size:11px; }

.major_title036 { color:#003366; line-height:18pt;  font-family:Arial, Verdana, Helvetica, sans-serif; font-size:18px; }
.box_title { color:#ffffff; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:16px; font-size:14px; font-weight:bold; vertical-align:middle }
.linkbox { color:#ffffff; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:14pt; font-size:14px; text-decoration:underline; font-weight:bold;}
.linkbox:visited { color:#ffffff; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:14pt; font-size:14px; text-decoration:underline; font-weight:bold;}
.link416CA0 { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:none}
.link416CA0:visited { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:none}
.link036 { color:#003366; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}
.link036:visited { color:#003366; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}
.link669966 { color:#669966; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}
.link669966:visited { color:#669966; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}
.subt036 { color:#003366; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:13pt; font-size:13px; }
.msg_fail { color:#C00; font-weight:bold; }
.msg_success { color:#693; font-weight:bold; }

#stat_table { margin-top:15px; }
#stat_table td, #stat_table th { text-align:left; padding:5px;}
#stat_table th { background-color:#BEDAF1; border-bottom:2px solid #036; border-right:1px solid #7EA0BD; border-top:1px solid #036; color:#003333; vertical-align:top; }
#stat_table th.first { border-left:1px solid #7EA0BD; }
#stat_table th.total_col { border-left:1px solid #7EA0BD; }
#stat_table td { border-bottom:1px solid #7EA0BD;border-right:1px solid #7EA0BD; vertical-align:top; }
#stat_table td.first { border-left:1px solid #7EA0BD; }
#stat_table td.total_col { border-left:1px solid #7EA0BD; }

.row_on { background-color:#ECF8FB; }
.row_off { background-color:#ffffff; }


.yc_announcements {
	width:528px;
	height:135px;
	border-left:1px solid #7ea0bd;
	border-right:1px solid #7ea0bd;
	border-top:1px solid #7ea0bd;
	border-bottom:2px solid #003366;
	overflow-x:hidden;
	overflow-y:scroll;	
}
.yc_announcements table td {
	padding:4px 8px;
	border-bottom:1px solid #eaeaea;
}
.yc_announcements table td.text {
	padding-right:20px;
	padding-left:0px;
}


/* Statement and report styles */
#statement_loader {
	clear:both;
	display:none;
	width:726px;
	vertical-align:middle;
	text-align:center;
	height:300px;
	border:1px solid #7ea0bd;
	margin-top:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#fff;
	background-image:url(../images/grad_1.jpg);
	background-position:top;
	background-repeat:repeat-x;
}

#debt_collect_msg {
	display:none;	
}

#hide_zero_balance_accounts {
	padding-top:15px;	
}

h3.report_title {
	margin:20px 0 9px 0;	
}
/* End */


/* Fieldset styles */
.fieldset_1 {
	border:1px solid #999;
	padding:10px;
}
.fieldset_1 legend {
	padding:4px 6px;
	font-weight:bold;
	background-color:#fff;
	border:1px solid #666;
}
/* End fieldset styles */


/* Table styles */
.table_1 td {
	padding:1px 0 1px 0;
	text-align:left;
}

.table_2 th {
	padding:6px 8px 6px 8px;
	text-align:left;
	background-color:#f3f3f3;
	vertical-align:top;
	border-left:1px solid #999;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
.table_2 td {
	padding:6px 8px 6px 8px;
	text-align:left;
	color:#416ca0;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	vertical-align:top;
}
.table_2 td.end, .table_2 th.end {
	border-right:1px solid #999;
}

.table_3 td, .table_3 th {
	padding:2px 0 2px 0;
	text-align:left;
}
/* End table styles */



.recaptchatable .recaptcha_r4_c1, .recaptchatable, .recaptchatable td, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th, .recaptcha_input_area {
	background-image:none;
	padding-left:0px;
	margin-left:0px;
}
.recaptchatable #recaptcha_response_field {
	padding:2px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
}

/* Index Login Page */
#home_left_block {
	width:208px;
	float:left;
	height:386px;
	text-align:left;
	padding:15px;
	margin-right:20px;
	margin-top:10px;
	border:1px solid #7EA0BD;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	behavior:url(border-radius.htc);
	background-image:url(../images/index/welcome_main_image.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

#home_middle_block {
	width:238px;
	float:left;
	height:324px;
	text-align:left;
	margin-right:20px;
	margin-top:10px;
	background-color:#426C9E;
	border:1px solid #7EA0BD;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	behavior:url(border-radius.htc);
}

#home_middle_block #rewards_block {
	margin-top:16px;
	text-align:left;
	border:1px solid #7EA0BD;
	padding: 0;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}

#home_right_block {
	width:238px;
	float:left;
	height:416px;
	text-align:left;
	margin-top:10px;
}

#home_right_block #twitter_block {
	width:223px;
	height:60px;
	margin-top:15px;
	text-align:left;
	border:1px solid #7EA0BD;
	background-color:#fff;
	padding:15px 0px 0px 15px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	behavior:url(border-radius.htc);
}

#home_right_block #login_request_block {
	width:238px;
	height:154px;
	text-align:left;
	border:1px solid #7EA0BD;
	background-color:#669ACC;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	behavior:url(border-radius.htc);
}

#home_right_block #help_block {
	width:238px;
	height:153px;
	text-align:left;
	border:1px solid #7EA0BD;
	background-color:#669ACC;
	margin-top:15px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	behavior:url(border-radius.htc);
}

/* Tabs */
.your_comm_tabs {
	width:760px;
	clear:both;
	margin-top:13px;
	list-style:none;
	padding:0;
}
.your_comm_tabs li {
	float: left;
	background-color: #fff;
	vertical-align:middle;
	height:35px;
}
.your_comm_tabs li a {
	float: left;
	height:28px;
	vertical-align:middle;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	line-height:22px;
	display: block;
	text-decoration:none;
	text-align:left;
	padding-top:7px;
	font-family:Arial, Helvetica, sans-serif;
}

.your_comm_tabs li.tab_yc {
	width:170px;	
}
.your_comm_tabs li.tab_yc_active {
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
	background-position:top left;
}
.your_comm_tabs li.tab_yc_inactive {
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
	background-position:0px -67px;
}
.your_comm_tabs li.tab_yc a {
	padding-left:44px;
	background-image: url(../images/property_icon.png);
	background-repeat: no-repeat;
	background-position:14px 7px;
}

.your_comm_tabs li.tab_advice {
	width:120px;
}
.your_comm_tabs li.tab_advice a {
	padding-left:30px;
	background-image: url(../images/q_icon.png);
	background-repeat: no-repeat;
	background-position:0px 7px;
}
.your_comm_tabs li.tab_advice_active {
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
	background-position:-327px 0px;	
}
.your_comm_tabs li.tab_advice_inactive {
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
	background-position:-327px -67px;	
}

.your_comm_tabs li.tab_gi {
	width:130px;
}
.your_comm_tabs li.tab_gi a {
	padding-left:30px;
	background-image: url(../images/info_icon.png);
	background-repeat: no-repeat;
	background-position:0px 7px;
}
.your_comm_tabs li.tab_gi_active {
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
	background-position:-327px 0px;	
}
.your_comm_tabs li.tab_gi_inactive {
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
	background-position:-327px -67px;	
}

.your_comm_tabs li.tab_end {
	width:190px;
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
	background-position:-570px -67px;	
}

.your_comm_tabs li.divider {
	width:50px;
	height:35px;
	background-image: url(../images/tabs_sheet.png);
	background-repeat: no-repeat;
}
.your_comm_tabs li.divider_active_l_inactive_r {
	background-position:-337px -134px;
}
.your_comm_tabs li.divider_inactive_l_active_r {
	background-position:-337px -335px;
}
.your_comm_tabs li.divider_inactive_l_inactive_r_a {
	background-position:-337px -469px;
}
.your_comm_tabs li.divider_inactive_l_inactive_r_b {
	background-position:-337px -402px;
}
/* End Tabs */

/* Dialogs */
.dialog_1 {
	display:none;
	overflow:hidden;
}
.ui-dialog-content .ui-widget-content {
	align:center;
	position:relative;	
	width:100%;
}
.outer {
	height:100%;
	width:100%;
	display:table;
	vertical-align:top;
	align:center;
}
.container {
	text-align: center;
	position:relative;
	vertical-align:top;
	display:table-cell;
	width:565px;
	margin:0 auto;
}
.inner {
	width:502px;
	text-align: left;
	margin:2px auto;
}
/* End Dialogs */

#footer {
	clear:both;
	width:760px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 20px;
}

/*chat now  CSS */
@media print {
	#chatonId {
		display: none;
	}
}

#chatonId {
	position: fixed;
	top: 200px;
	text-align: right;
}

.paperless {
	width: 100%;
	border-radius: 8px;
	background-color: #416CA0;
	color: #fff;
	font-size: 20px;
	float: left;
	padding: 20px 0;
	margin: 10px 0;
	text-decoration: none;
}

.paperless:hover {
	text-decoration: none;
}
