.search_box {
	float:left;
	position:relative;
	width:725px;
	padding:0;
	margin:0;
	background-color:#c6d6e6;
	border:1px solid #416CA0;
	color:#363366;
	font-weight:bold;
}

.results {
	float:left;
	position:relative;
	width:725px;
	padding:0;
	margin:7px 0 0 0;
	border:1px solid #363366;
	border-top: none;
}

.form_row {
	float:left;
	position:relative;
	width:725px;
	margin:0;
	padding:0;
	border-top:1px solid #416CA0;
}

.search_box .form_row {
	border:none;
}

a.form_row {
	cursor:pointer;	
}

.header_row, .sub_header_row {
	float:left;
	position:relative;
	width:725px;
	margin:0;
	padding:0;
	background-color:#f1f1f1;
	color:#363366;
	border-top: 1px solid #363366;
	font-weight:bold;
}

.sub_header_row {
	background-color:#bedaf1;
}

.form_label {
	float:left;
	position:relative;
	width:102px;
	margin:0;
	padding:2px 5px;
	line-height:20px;
	color:#416CA0;
	text-decoration:none;
}

.header_row .border {
	border-right:1px solid #363366;
}

.form_row .border {
	 border-right:1px solid #416CA0;
}

.form_item {
	float:left;
	position:relative;
	width:240px;
	margin:0;
	padding:2px 5px;
	color:#416CA0;
}

a.form_row {
	color:#416CA0;
	text-decoration:none;	
}

.icon {
	float:left;
	position:relative;
	margin:0 40px 0 0;
	padding:0;
	width:115px;
	height:115px;
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
}

a .icon .text {
	float:left;
	position:relative;
	margin: 108px 0 0 0;
	width:115px;
	color:#416CA0;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
}

a div.icon div.text {
	text-decoration: none;
}

#details {
	background-image:url(../images/Contractors/details.png);
}

#orders {
	background-image:url(../images/Contractors/orders.png);
}

#reports {
	background-image:url(../images/Contractors/reports.png);
}

.paging {
	width:100%;	
}

ul.paging li {
	list-style: none;
	float: left;
	width:100%;	
	margin:0;
	padding:0;
}

.pagination {
	width:100%;
}

ul.pagination li {
	list-style: none;
	float: left;
	margin-right: 5px;
	padding:5px;
	border:solid 1px #dddddd;
	color:#0063DC;
}

ul.pagination .active {
	color:#FF0084;
}

ul.pagination li:hover {
	color:#FF0084;
	cursor: pointer;
}