@charset "utf-8";
/* CSS Document */

#switch_lessee_table {
	display:none;
}

#header, #footer {
	display:none;
}

.statement_links, .back_to_reports, #hide_zero_balance_accounts {
	display:none;
}

#breadcrumb_table, #content_box_1_top, #statement_date_chooser, #pay_by_card_div, #pay_by_phone_div, #pay_by_cheque_div, #pay_by_bank_div {
	display:none;	
}

.content_box_1 {
	border: none;
	padding: 0;	
	margin: 0;
}

