@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

$font-color:				#212121;

$rmg-ph-fontsize: 2.4rem !default;
$rmg-h1-fontsize: 2.2rem !default;
$rmg-h2-fontsize: 2rem !default;
$rmg-h3-fontsize: 1.8rem !default;
$rmg-h4-fontsize: 1.6rem !default;
$rmg-h5-fontsize: 1.2rem !default;
$rmg-h6-fontsize: 1.1rem !default;

body {
	background-color: #f4f4f4;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.login-background {
	background-color: $primary-color;
}

.bulge-container  {
	position: absolute;
	top: -40%;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

.bulge  {
	position: absolute;
	width: 200%;
	height: 100%;
	left: -60%;
	background: $secondary-color;
	-moz-border-radius: 50% / 50%;
	-webkit-border-radius: 50% / 50%;
	border-radius: 50% / 50%;
	z-index: -1;
}

.btn-wide {
	width: 100%;
}

.btn-small {
	height: 2rem;
	line-height: 2rem;
	outline: 0;
	padding: 0 1rem;
}

nav {
	background-color: $primary-color;
}

main {
	padding: 10px 0;
}

.fixed > header,
.fixed main,
.fixed footer,
.fixed > nav {
	padding-left: 240px;
}

.fixed > nav {
	background-color: $secondary-color;
}

.input-field input[type=search] ~ .mdi-close {
	position: absolute;
	top: 0;
	right: 1rem;
	color: transparent;
	cursor: pointer;
	font-size: 2rem;
	transition: .3s color;
}

.input-field input[type=search]:focus+label i,
.input-field input[type=search]:focus ~ .mdi-close {
	 color: color('grey', 'darken-2');
 }

.top-nav .button-collapse.top-nav.full.hide-on-large-only {
	margin: 0 20px;
}

nav.top-nav a.page-title {
	font-size: $rmg-ph-fontsize;
}

nav > a > i.mdi {
	font-size: 2rem;
	color: #ffffff;
}

.nav-wrapper {
	padding: 0 20px;
}

.wrapper {
	padding: 0 30px;
	height: auto;
	overflow: hidden;
}

.side-nav.full {
	width: 100%;
}

.side-nav.fixed > ul {
	margin: 0;
}


.side-nav.fixed,
.side-nav.fixed ul,
.side-nav .collapsible-body {
	background-color: $secondary-color;
}

.side-nav.fixed {
	height: 100% !important;
	padding: 0;
	min-height: 100%;
}

.side-nav.fixed .logo {
	text-align: center;
	padding: 10px 10px;
	line-height: 79px;
	background-color: #FFFFFF;
}

.side-nav .user-details {
	background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/new_design/images/cover-photo.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-position: top right;
    margin-bottom: 0;
    padding: 10px 0px 0px 10px;
}

.side-nav .user-details .row {
	margin: 0;
}

.side-nav div a.btn,
.side-nav div a.btn-flat{
	height: auto;
	line-height: 2rem;
	margin: 0.75rem 0;
}

.side-nav nav a {
	color: #FFFFFF;
}

.user-title {
	margin: 0;
	line-height: 4vw;
}

.side-nav p.unit {
	margin: 0.75rem 0 0 0;
}

.side-nav .section {
	padding:0;
}

.no-margin {
	margin: 0;
}

i.img {
	font-size: 4vw;
}

.logo a {
	height: 79px;
}

.brand-logo,
.brand-logo img {
	height: 100%;
}

.brand-logo {
	background-color: #FFFFFF;
}

.side-nav.fixed ul li {
	border-bottom: 1px solid darken($secondary-color, 10%);
}

.side-nav.fixed ul.collapsible li:last-child {
	border: none;
}

.side-nav.fixed ul li a {
	color: #FFFFFF;
}

.no-padding ul.collapsible.collapsible-accordion li.bold a.collapsible-header {
	line-height: 64px;
	height: 64px;
}

.bold > a {
	font-weight: bold;
}

.side-nav li:hover, .side-nav li.active {
	background-color: $primary-color;
}

.advert-col {
	width: 175px;
	float: right;
	text-align: right;
	margin-left: 15px;
	margin-top: 8px;;
}

.advert-col img {
	width: 100%;
}

.main-col {
	width: auto;
	overflow: hidden;
}

.side-nav .nav-footer {
	border-top: 1px solid #e0e0e0;
	bottom: 0;
	padding: 18px 10px 10px 10px;
	position: fixed;
	background-color: #FFFFFF;
	color: $font-color;
	line-height: 1em;
	width: 240px;
}

.side-nav li.nav-footer:hover {
	background-color: #FFFFFF;
}

.card-image .small {
	height: 30rem;
	overflow: hidden;
}

.card-image .small img {
	margin-top: -25%;
}

.card-announce {
	min-height: 90px;
}

.crop-height {
	max-height: 320px;
	overflow: hidden;
}

.crop-height .card-title {
	width: 100%;
	background-color: rgba(0,0,0, 0.4);
}

img.scale {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto !important;
	-ms-interpolation-mode: bicubic;
}

.image-container:before,
.image-container:after {
	content: "";
	display: table;
}
.image-container:after {
	clear: both;
}
.image-container .item {
	float: left;
	margin-bottom: 15px;
}
.image-container .item img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
	cursor: pointer;
}
.image-container .first-item {
	clear: both;
}
/* remove margin bottom on last row */
.image-container .last-row, .image-container.last-row ~ .item {
	margin-bottom: 0;
}

.card .card-image img.fullscreen,
img.fullscreen {
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: auto;
	cursor: pointer;
}

.card .card-move-up {
	position: relative;
}

.btn-move-up {
	position: relative;
	top: -2.8rem;
	right: -1.24rem;
	margin-right: 10px !important;
}

.btn-move-up.btn-large {
	top: -3.4rem;
}

.card .card-header {
	padding: 20px;
	border-radius: 2px 2px 0 0;
}

.card .card-header .card-title {
	font-size: 1.1rem;
	font-weight: bold;
}

.card .card-header + .card-content,
.card .card-header + .card-image {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#image-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 120vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	will-change: opacity;
	cursor: pointer;
}

.footer-stack {
	border-radius: 50%;
	background-color: $secondary-color;
	padding: 5px;
	width: 32px;
	height: 32px;
	display: inline-block;
	color: #FFFFFF;
}

.footer-stack i {
	width: 22px;
	height: 22px;
	font-size: 22px;
}

footer.page-footer {
	padding-bottom: 20px;
}

footer .row {
	margin-bottom: 0;
}

.copyright {
	text-align: right;
	line-height: 35px;
}

h1 { font-size: $rmg-h1-fontsize; line-height: 110%; margin: ($rmg-h1-fontsize / 2) 0 ($rmg-h1-fontsize / 2.5) 0;}
h2 { font-size: $rmg-h2-fontsize; line-height: 110%; margin: ($rmg-h2-fontsize / 2) 0 ($rmg-h2-fontsize / 2.5) 0;}
h3 { font-size: $rmg-h3-fontsize; line-height: 110%; margin: ($rmg-h3-fontsize / 2) 0 ($rmg-h3-fontsize / 2.5) 0;}
h4 { font-size: $rmg-h4-fontsize; line-height: 110%; margin: ($rmg-h4-fontsize / 2) 0 ($rmg-h4-fontsize / 2.5) 0;}
h5 { font-size: $rmg-h5-fontsize; line-height: 110%; margin: ($rmg-h5-fontsize / 2) 0 ($rmg-h5-fontsize / 2.5) 0;}
h6 { font-size: $rmg-h6-fontsize; line-height: 110%; margin: ($rmg-h6-fontsize / 2) 0 ($rmg-h6-fontsize / 2.5) 0;}

.right i {
	cursor: pointer;
}

.right i:hover {
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.dropdown-content li {
	min-height: 0;
}

.dropdown-content li > a,
.dropdown-content li > span {
	color: rgba(0, 0, 0, 0.870588);
	font-size: 1rem;
	vertical-align: middle;
	white-space: normal !important;
}

.dropdown-content li a i {
	display: inline-block;
	vertical-align: top;
}

.dropdown-content li > a .col.s2 {
	line-height: 14px;
}

.pm-block {
	bottom: 20px;
	position: absolute;
}

.pm-block .call {
	font-size: 2.2rem;
	color: $secondary-color !important;
}

.dropdown-content {
	z-index: 999;
}

.dropdown-content .row,
.dropdown-content .row .col {
	padding: 0;
	margin: 0;
}
.dropdown-content .row .col.s10 {
	margin-top: -4px;
}

.input-field input + label {
	width: 100%;
}

.input-field label.active,
.input-field input.valid + label:not(.active){
	font-size: 0.9rem;
}

.input-field input.valid + label:not(.active) {
	-webkit-transform: translateY(-140%);
	-moz-transform: translateY(-140%);
	-ms-transform: translateY(-140%);
	-o-transform: translateY(-140%);
	transform: translateY(-140%);
}

input:not(.invalid):not(.valid) + label[data-helper]:after,
input + label[data-error]:after {
	line-height: 0.9rem;
	font-size: 0.9rem;
	padding: 0 1.5rem 0 0;
}

input + label[data-error]:after,
input:not(.invalid):not(.valid) + label[data-helper]:after{
	top: 36px !important;
}

input:not(.invalid):not(.valid) + label[data-helper]:after{
	content: attr(data-helper);
	opacity: 1;
}

input:not(.invalid):not(.valid) + label.active[data-helper]:after,
input:focus + label[data-error]:after,
input + label[data-error].active:after{
	top: 65px !important;
}

.input-field {
	margin-top: 25px;
}

.input-field span.complex {
	position: absolute;
	right: 15px;
	top: 15px;
}

.card-title.full {
	width: 100%;
	display: block;
	color: $secondary-color;
	border-bottom: 1px solid $secondary-color;
}

.primary {
	background-color: $primary-color;
}

.primary-text {
	color: $primary-color;
}

.secondary {
	background-color: $secondary-color;
}

.btn-large.primary:hover,
.btn.primary:hover {
	background-color: darken($primary-color, 10%);
}

a.announce-sort i {
	display: none;
	float: right;
	line-height: 4rem;
}

ul li a {
	cursor: pointer;
}

li a.announce-sort.asc i.asc,
li a.announce-sort.desc i.desc,{
	display: block;
}

@media #{$medium-and-down} {
	.fixed > header,
	.fixed main,
	.fixed footer,
	.fixed > nav {
		padding-left: 0;
	}

	nav .brand-logo {
		transform: none;
		left: inherit;
	}

	.main-col {
		float: left;
		width: 100%;
	}

	.advert-col {
		display: none;
	}
}

@media #{$medium-only} {
	.card .card-header .card-title {
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
	}
}

@media #{$medium-and-up} {
	nav > a > i.mdi {
		height: 64px;
		line-height: 64px;
	}
}

@media #{$large-only},
#{$small-and-down} {
	.pm-block {
		margin-top: 20px;
		bottom: inherit;
		position: relative;
	}

	#propertyInformation .col.s12 {
		padding: 0.75rem;
	}
}

@media #{$extra-large-and-up} {

	.dropdown-content {
		max-width: 220px;
		white-space: normal !important;
	}

	.btn-move-up {
		top: -2.6rem;
	}

	.btn-move-up.btn-large {
		top: -3.2rem;
	}
}

@media #{$small-and-down}{
	$small-rmg-ph-fontsize: 1.6rem !default;
	$small-rmg-h1-fontsize: 1.5rem !default;
	$small-rmg-h2-fontsize: 1.4rem !default;
	$small-rmg-h3-fontsize: 1.2rem !default;
	$small-rmg-h4-fontsize: 1rem !default;
	$small-rmg-h5-fontsize: 0.9rem !default;
	$small-rmg-h6-fontsize: 0.8rem !default;

	h1 {
		font-size: $small-rmg-h1-fontsize;
		line-height: 110%;
		margin: ($small-rmg-h1-fontsize / 2) 0 ($small-rmg-h1-fontsize / 2.5) 0;
	}
	h2 {
		font-size: $small-rmg-h2-fontsize;
		line-height: 110%;
		margin: ($small-rmg-h2-fontsize / 2) 0 ($small-rmg-h2-fontsize / 2.5) 0;
	}
	h3 {
		font-size: $small-rmg-h3-fontsize;
		line-height: 110%;
		margin: ($small-rmg-h3-fontsize / 2) 0 ($small-rmg-h3-fontsize / 2.5) 0;
	}
	h4 {
		font-size: $small-rmg-h4-fontsize;
		line-height: 110%;
		margin: ($small-rmg-h4-fontsize / 2) 0 ($small-rmg-h4-fontsize / 2.5) 0;
	}
	h5 {
		font-size: $small-rmg-h5-fontsize;
		line-height: 110%;
		margin: ($small-rmg-h5-fontsize / 2) 0 ($small-rmg-h5-fontsize / 2.5) 0;
	}
	h6 {
		font-size: $small-rmg-h6-fontsize;
		line-height: 110%;
		margin: ($small-rmg-h6-fontsize / 2) 0 ($small-rmg-h6-fontsize / 2.5) 0;
	}

	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
		height: 56px;
		line-height: 56px;
	}

	nav.top-nav a.page-title {
		font-size: $small-rmg-ph-fontsize;
	}

	.card .card-title {
		font-size: $small-rmg-h2-fontsize;
	}

	nav .button-collapse i {
		font-size: $small-rmg-h4-fontsize * 2;
	}

	.dropdown-content {
		max-width: 200px;
		white-space: normal !important;
	}

	.nav-wrapper .dropdown-content li > a, .nav-wrapper .dropdown-content li > span {
		line-height: 50px;
	}

	.nav-wrapper ul li a {
		padding: 0 8px;
	}

	.g-recaptcha {
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}

	.input-field label.active,
	.input-field input.valid + label:not(.active) {
		font-size: 0.8rem;
	}

	input:not(.invalid):not(.valid) + label[data-helper]:after,
	input + label[data-error]:after {
		line-height: 0.8rem;
		font-size: 0.8rem;
	}

	input + label[data-error]:after,
	input:not(.invalid):not(.valid) + label[data-helper]:after{
		top: 38px !important;
	}

	i.img {
		font-size: 8vh;
	}

	.user-title {
		margin: 0;
		line-height: 8vh;
	}

	.copyright {
		text-align: center;
	}
}

@media only screen and (max-width: 320px) {
	.g-recaptcha {
		transform: scale(0.66);
		-webkit-transform: scale(0.66);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}
}