The below lessee has signed up the following units that require linking to a Non-Resident tenant Id.\r\n
Last Name: {{last}}\r\n
Email: {{email}}\r\n
Telephone: {{telephone}}\r\n
Mobile: {{mobile}}\r\n
Tenant References: {{refs}}\r\n
To Review: {{review}}