<font face="Verdana">
	<p><strong>Tenant Lookups: </strong> {{lookup}}</p>
	<p><strong>Tenant References: </strong> {{refs}}</p>
	<p><strong>Tenant Lookups2: </strong> {{lookup2}}</p>
	<p><strong>Tenant References2: </strong> {{refs2}}</p>
	<p><strong>XML: </strong> {{xml}}</p>
</font>