.form-group:not(.has-error):not(.has-success) div.address-lookup {border-radius: 4px;border:1px solid #162866;margin-bottom:5px;}div.address-lookup .btn {border: none;}input.address-lookup{border-top: none;border-right: none;border-bottom: none;}.address-lookup .flag-dropdown{border: none}.address-lookup .clear{float:none;width:100%;border-radius: 0 4px 4px 0}.address-lookup .flag-dropdown[disabled]{width:100%;margin:0;border:0}.address-lookup .flag-dropdown .arrow{border-top-color:#fff}
/*# sourceMappingURL=addressLookup.css.map */
