/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* Contact Us */
.contact_office_name { color:#003366; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px;font-weight:bold; }
.contact_telephone { color:#669966; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px;font-weight:bold; }
.contact_email { color:#336699; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px;font-weight:normal; }

.major_title036 { color:#003366; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:18pt; font-size:18px; }
.box_title {color:#ffffff; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:14pt; font-size:14px; font-weight:bold; vertical-align:middle}
.text036 { color:#003366; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; }
.subt036 { color:#003366; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:13pt; font-size:13px; }

td { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; }
input { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; }
textarea { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; }
select { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; }

.msg_success { color:#669966; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; }
.msg_fail { color:#993333; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; }

.border_ccc{border:1px solid #cccccc}

.hand {cursor:hand;}

.linkbox { color:#ffffff; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:14pt; font-size:14px; text-decoration:underline; font-weight:bold;}
.linkbox:visited { color:#ffffff; font-family:Arial, Verdana, Helvetica, sans-serif; line-height:14pt; font-size:14px; text-decoration:underline; font-weight:bold;}
.link416CA0 { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:none}
.link416CA0:visited { color:#416CA0; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:none}
.link036 { color:#003366; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}
.link036:visited { color:#003366; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}
.link669966 { color:#669966; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}
.link669966:visited { color:#669966; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:11pt; font-size:11px; text-decoration:underline}


.crumbs {
	color:#416CA0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:none;
}
.crumbs:link {
	color:#416CA0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:underline;
}
.crumbs:visited {
	color:#416CA0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:underline;
}
.crumbs:hover {
	color:#003366;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:underline;
}
.crumbs:active {
	color:#003366;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:underline;
}

.footer_text {
	color:#7EA4BE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:none;
}
.footer_text:link {
	color:#7EA4BE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:none;
}
.footer_text:visited {
	color:#7EA4BE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:none;
}
.footer_text:hover {
	color:#7EA4BE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:underline;
}
.footer_text:active {
	color:#7EA4BE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:11pt;
	font-size:11px;
	text-decoration:none;
}

ul { line-height:13px; margin: 15px; padding:0px;}


/* Content Management System*/
.management_body {
	background-color:#B6CFE0;
	margin:0px;
	margin-bottom:0px;
}

.break { page-break-before: always; }


/* Management Section */

.titles { 
    color:#003366;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	line-height:17pt;
	font-size:17px;
	font-weight:bold;
}

.subtitles { 
    color:#ffffff;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	line-height:15pt;
	font-size:15px;
	font-weight:bold;
}


#stat_table td, #stat_table th { text-align:left; padding:5px;}
#stat_table th { background-color:#E8EDF0; border-bottom:1px solid #999999; border-top:1px solid #999999; color:#003333; vertical-align:top; }
#stat_table td { border-bottom:1px solid #ccc; vertical-align:top; }




/* RMG Living Letters Styles */
.letter, .letter p, .letter_sent, .letter_sent p {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	line-height:15px;
	color: #000000;
}
.letter p, .letter_sent p {
	padding:0;
	margin:0 0 10px 0;
}
.letter ul, .letter_sent ul {
	padding:0 0 0 15px;
	margin:10px 0 15px 20px;
}
.letter ul li, .letter_sent ul li {
	padding:1px 0 1px 0;
	margin:0;
	color:#0099CC;
}
.letter ul li span, .letter_sent ul li span {
	color:#000;
}
.letter table, .letter_sent table {
	margin:10px 0 15px 0;
}
.letter table td, .letter_sent table td {
	padding:1px 6px 1px 0;
}

/*chat now  CSS */
@media print {
	#chatonId {
		display: none;
	}
}
#chatonId {
	position: fixed;
	top: 200px;
	text-align: right;
}






