<div class="row" id="{DT_RowId}">
	<div class="row-xs-height">
		<div data-title="Date" class="col s12 m2 l1 col-xs-height">{0}</div>
		<div data-title="Description" class="col s12 m3 l2 col-xs-height">{1}</div>
		<div data-title="Due" class="col s6 m2 l1 col-xs-height">{2}</div>
		<div data-title="Charged" class="col s6 m1-5 col-xs-height">{3}</div>
		<div data-title="Received" class="col s6 m1-5 col-xs-height">{4}</div>
		<div data-title="Balance" class="col s6 m1-5 col-xs-height">{5}</div>
	</div>
</div>