@mixin button-variant($start-background, $end-background, $border, $color: 0) {
	@include gradient($start-background, $end-background, 180deg);
	border-color: $border;
	@if ($color == 0) {
		color: set-text-color($end-background);
	}@else{
		color: $color;
	}
	@include box-shadow(0, 1px, 0, 0, rgba($grey-white, 0.4), inset, 0, 1px, 1px, 0, rgba($grey-base, 0.1));

	@if ($color == 0) {
		@if (lightness($end-background) > 49) {
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
		} @else {
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
		}
	}@else{
		@include text-shadow($start-background);
	}

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: set-text-color(btn_darken($end-background));
		@include gradient(btn_darken($start-background), btn_darken($end-background), 180deg);
		border-color: btn_darken($border);

		@if (lightness(btn_darken($end-background)) > 49){
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
		}@else{
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
		}
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		@include gradient(btn_darken($start-background), btn_darken($end-background), 180deg);
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			@include gradient($start-background, $end-background, 180deg);
			border-color: $border;
		}
	}

	.badge {
		color: set-text-color($start-background);
		background-color: $start-background;
	}
}

@mixin nNotify-notification($color, $border, $animation, $duration) {
	border-color: $border;

	animation-name: $animation;
	animation-duration:$duration;
	animation-direction:alternate;
	animation-iteration-count:infinite;

	-webkit-animation-name: $animation;
	-webkit-animation-duration:$duration;
	-webkit-animation-direction:alternate;
	-webkit-animation-iteration-count:infinite;
	background-color: pastelerise($color);
}

@mixin gradient($start-background, $end-background, $angle) {
	background: $start-background; /* Old browsers */
	background-color: $start-background; /* Old browsers */
	background: -moz-linear-gradient($angle, $start-background, $end-background);		/* FF3.6+ */
	background: -webkit-linear-gradient($angle, $start-background, $end-background);	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($angle, $start-background, $end-background);			/* Opera 11.10+ */
	background: -ms-linear-gradient($angle, $start-background, $end-background);		/* IE10+ */
	background: linear-gradient($angle, $start-background, $end-background);			/* W3C */
}

@mixin box-shadow($h-shadow: 0, $v-shadow: 0, $blur: 0, $spread: 0, $color: '#000', $inset: 'none', $h-shadow2: 0, $v-shadow2: 0, $blur2: 0, $spread2: 0, $color2: '#000') {

	@if $h_shadow2 != 0 or $v_shadow2 != 0 or $blur2 != 0 or $spread2 != 0 {
		@if $inset == 'none' {
			box-shadow: $h-shadow $v-shadow $blur $spread $color; /* W3C */
			-moz-box-shadow: $h-shadow $v-shadow $blur $spread $color; /* FF3.6+ */
			-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color; /* Chrome10+,Safari5.1+ */
			-o-box-shadow: $h-shadow $v-shadow $blur $spread $color; /* Opera 11.10+ */
		} @else {
			box-shadow: $h-shadow $v-shadow $blur $spread $color $inset, $h_shadow2 $v_shadow2 $blur2 $spread2 $color2; /* W3C */
			-moz-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset, $h_shadow2 $v_shadow2 $blur2 $spread2 $color2; /* FF3.6+ */
			-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset, $h_shadow2 $v_shadow2 $blur2 $spread2 $color2; /* Chrome10+,Safari5.1+ */
			-o-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset, $h_shadow2 $v_shadow2 $blur2 $spread2 $color2; /* Opera 11.10+ */
		}
	}@else {
		@if $inset == 'none' {
			box-shadow: $h-shadow $v-shadow $blur $spread $color; /* W3C */
			-moz-box-shadow: $h-shadow $v-shadow $blur $spread $color; /* FF3.6+ */
			-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color; /* Chrome10+,Safari5.1+ */
			-o-box-shadow: $h-shadow $v-shadow $blur $spread $color; /* Opera 11.10+ */
		} @else {
			box-shadow: $h-shadow $v-shadow $blur $spread $color $inset; /* W3C */
			-moz-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset; /* FF3.6+ */
			-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset; /* Chrome10+,Safari5.1+ */
			-o-box-shadow: $h-shadow $v-shadow $blur $spread $color $inset; /* Opera 11.10+ */
		}
	}
}

@mixin text-shadow($bg-color, $offset-x: 0, $offset-y: 0, $blur: 0, $opacity: 1) {
	text-shadow: $offset-x $offset-y $blur rgba(set-shadow-color($bg-color), $opacity);
}

@mixin form-control-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
	// Color the label and help text
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	&.radio label,
	&.checkbox label,
	&.radio-inline label,
	&.checkbox-inline label  {
		color: $text-color;
	}
	// Set the border and box shadow on specific inputs to match
	.form-control {
		border-color: $border-color;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
		&:focus {
			border-color: darken($border-color, 10%);
			$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 20%);
			@include box-shadow($shadow);
		}
	}
	// Set validation states also for addons
	.input-group-addon {
		color: $text-color;
		border-color: $border-color;
		background-color: $background-color;
	}
	// Optional feedback icon
	.form-control-feedback {
		color: $text-color;
	}
}