$bg:						#e8eaef !default;

$font-family-main:			Verdana,Arial,sans-serif !default;
$font-family-heading:		"GothamRounded-Bold" !default;
$font-family-digital:		"DSDIGI" !default;

$font-main-size-base:		14px !default;
$font-main-size-medium:		ceil(($font-main-size-base * 1.12)) !default; // ~16px
$font-main-size-large:		ceil(($font-main-size-base * 1.25)) !default; // ~18px
$font-main-size-small:		ceil(($font-main-size-base * 0.85)) !default; // ~12px
$font-main-size-smallest:	8px !default;

$font-head-size-base:		20px !default;
$font-head-size-large:		ceil(($font-head-size-base * 1.25)) !default; // ~25px
$font-head-size-small:		ceil(($font-head-size-base * 0.85)) !default; // ~17px
$font-head-size-smallest:	12px !default;

$font-icon-size-base:		20px !default;
$font-icon-size-large:		ceil(($font-icon-size-base * 1.25)) !default; // ~25px
$font-icon-size-largest:	35px !default;
$font-icon-size-small:		14px !default;
$font-icon-size-smallest:	8px !default;

$grey-base:					#000 !default;
$grey-darker:				lighten($grey-base, 13.5%) !default; // #222
$grey-dark:					lighten($grey-base, 20%) !default;   // #333
$grey:						lighten($grey-base, 33.5%) !default; // #555
$grey-light:				lighten($grey-base, 46.7%) !default; // #777
$grey-lightest:				lighten($grey-base, 93.5%) !default; // #eee
$grey-lighter:				#cccccc !default; // #ccc
$grey-ddd:					#dddddd !default;
$grey-white:				#fff !default;

$brand-primary:				#437cb1 !default; //#337ab7
$brand-info:				#0096da !default; //#5bc0de
$brand-deep:				#162866 !default;
$brand-pale:				#abd3ff !default;
$brand-warning:				#ffa912 !default; //#f0ad4e
$brand-danger:				#d9534f !default; //#d9534f
$brand-success:				#5cb85c !default; //#5cb85c

$primary-gradient-start:	#448bc1 !default;
$primary-gradient-end:		$brand-deep;
$primary-border-color:		#265170 !default;

$info-gradient-start:		#17a3d9 !default;
$info-gradient-end:			#1189c7 !default;
$info-border-color: 		#1079b7 !default;

$warning-gradient-start:	#f6c828 !default;
$warning-gradient-end:		#e89a12 !default; //#e89a12
$warning-border-color:		#dd8e12 !default;

$success-gradient-start:	lighten($brand-success, 10%) !default;
$success-gradient-end:		darken($brand-success, 10%) !default;
$success-border-color:		darken($success-gradient-end, 10%) !default;

$danger-gradient-start:		lighten($brand-danger, 10%) !default;
$danger-gradient-end:		darken($brand-danger, 10%) !default;
$danger-border-color:		darken($danger-gradient-end, 10%) !default;

$red-grey-gradient-start:	#f6f5f4 !default;
$red-grey-gradient-end:		#dad6dd !default;
$red-grey-border-color:		darken($red-grey-gradient-end, 10%) !default;

$white-grey-gradient-start:	#ffffff !default;
$white-grey-gradient-end:	#e8eaf8 !default;
$white-grey-border-color:	darken($white-grey-gradient-end, 10%) !default;

$inv-grey-gradient-start:	#dedede !default;
$inv-grey-gradient-end:		#f8f8f8 !default;
$inv-grey-border-color:		darken($inv-grey-gradient-start, 10%) !default;

$lt-grey-gradient-start:	#eeeeee !default;
$lt-grey-gradient-end:		#dddddd !default;
$lt-grey-border-color:		darken($lt-grey-gradient-end, 10%) !default;

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-largest-vertical:  12px !default;
$padding-largest-horizontal:20px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  15px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-smaller-vertical:  3px !default;
$padding-smaller-horizontal:6px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;